<div class="col-xs-12 col-md-12">
    <form method="post" id="edit_form" action="{{app_context}}/insert_kb" data-toggle="validator">

<!-- laisser sur la premiere colonne, sinon ajoute des espaces à chaque ligne de l'article !! -->
{{> partialEditKB }}

    </form>
</div>
